@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-left: 240px;
    transition: padding-left 0.3s ease;
}

main.top {
    padding-left: 0;
}

.editora {
    margin-top: 8px;
}

.editora a {
    color: white;
    font-weight: 700;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 9px 40px;
    background-color: #006666;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 12px;
    text-align: center;
}

input {
    padding-left: 16px;
    font-size: 16px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.60);
}

.container {
    display: flex;
    gap: 20px;
}

.pesquisa {
    display: flex;
    width: 887px;
    height: 36px;
    border-radius: 4px;
}

.button-pesquisar {
    width: 154px;
    height: 36px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #006666;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

table {
    background-color: #FFFFFF;
    width: 1061px;
    height: 131px;
    padding: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', sans-serif;
}

table,
th,
td {
    border-collapse: collapse;
}

td {
    text-align: center;
    color: rgba(0, 0, 0, 0.60);
    font-weight: 800;
}

th {
    font-weight: 800;
}

.acoes {
    display: flex;
    justify-content: center;
    gap: 55px;
    font-size: 25px;
}

.acoes i {
    cursor: pointer;
}
