* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    align-items: stretch;
    position: relative;
    z-index: 2;
}

body{
    background-color: #E8E8E8;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.left-sidebar {
    min-width: 240px;
    max-width: 240px;
    background-color: #fff;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin-left: -240px;
    transition: all 0.3s;
    z-index: 3; 
}

.active {
    margin-left: 0px;
}

.menu-logo img {
    width: 106.62px;
    height: 56px;
    display: block;
    text-align: center;
    margin: 35px 66px;
    
}

.conteudo-sidebar {
    margin-top: 51px;
}

.conteudo-sidebar i {
    font-size: 18px;
    padding-right: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 25px; 
    height: 30px; 
    text-align: center; 
    margin-right: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 13px 20px 12px 26px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    color:black;
    height: 50px;
    margin-bottom: 30px;
}


.menu-item.bottom{
    width: 240px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
}

.nav-superior {
    width: 100%;
    z-index: 1;
}

ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background: #ffffff; 
    list-style: none;
    height: 62px;
    margin-bottom: 10px;
}

li {
    float: left;
}

li i {
    width: 30px; 
    height: 30px; 
    text-align: center;   
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;  
    margin: 12px 14px 12px 30px;
}

#menuBtn {
    font-size: 27px;
}


.user {
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #006666;
    margin-right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
    cursor: pointer;    
}


.menu-user {
    position: absolute;
    right: 170px;
    width: 10px;
}

.info {
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #006666;
    margin-right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
    cursor: pointer;    
}

.info h1 {
    position: absolute;
}
.info h2 {
    position: relative;
    text-align: center;
    font-size: 17px;
    top: 50px;
    width: 170px;
    font-weight: 700;
    color: black;
}

.info h3 {
    position: relative;
    text-align: center;
    font-size: 12px;
    top: 55px;
    width: 170px;
    color: gray;
}

.sub-menu{
    display: none;
    justify-content: center;
    background-color:white;
    box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.25);
    width: 170px;
    height: 140px;
    padding: 12px;
}

.sub {
    margin: 0;
    cursor: auto;
}

.active-item {
    background-color: #e8e8e8; 
    transition: all 0.3s;
  }
  




@media (max-width: 580px) {
  #sidebar {
    position: fixed;
    top: 0;
    /* top layer */
    z-index: 3;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
  }
  .overlay.hidden {
    display: none;
  }
}